/**************FONTS************/
@font-face {
  font-family: "ArchivoBlack-Regular";
  src: url("../police/ArchivoBlack-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "KumbhSans-Regular";
  src: url("../police/KumbhSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "LibreBaskerville-Italic";
  src: url("../police/LibreBaskerville-Italic.ttf") format("truetype"); }
/*******************************/
/***********VARIABLES***********/
/*******************************/
/*******************************/
#box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column; }

.box1, .box3 {
  color: #575757;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 1.5%;
  background-color: #F4F4F4;
  width: 60%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }
  .box1 .hr1, .box3 .hr1 {
    margin-top: -15px;
    height: 0.1px; }

.box2 {
  color: #575757;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 1.5%;
  width: 60%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #575757;
  color: #F4F4F4;
  align-self: flex-end; }
  .box2 .hr1 {
    margin-top: -15px;
    height: 0.1px; }

.box4 {
  background-color: #ffffff;
  align-self: center;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 20px; }
  .box4 blockquote {
    font-family: "LibreBaskerville-Italic";
    background-image: url(../images/guillemet.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
    padding-top: 2%;
    padding-bottom: 10%;
    background-size: 5%; }
    .box4 blockquote q {
      padding-left: 50px;
      quotes: none; }
    .box4 blockquote .cite {
      text-align: center; }
      .box4 blockquote .cite .source {
        text-decoration: none;
        color: blue;
        text-align: center; }

.box5 {
  color: #575757;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 1.5%;
  background-color: #ffffff;
  align-self: center;
  width: 95%;
  text-align: justify;
  line-height: 1.5em; }
  .box5 .assos {
    text-align: center; }

footer {
  font-family: "KumbhSans-Regular"; }
  footer #boxf {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #575757;
    color: #F4F4F4;
    font-size: 80%;
    justify-content: space-around;
    line-height: 1.5em; }
    footer #boxf .boxf2 .facebook, footer #boxf .boxf2 .twitter {
      width: 100px;
      height: 24px;
      background-image: url(../images/facebook.png);
      background-position-x: 75px;
      background-repeat: no-repeat;
      vertical-align: middle; }
      footer #boxf .boxf2 .facebook .linkreseau, footer #boxf .boxf2 .twitter .linkreseau {
        text-decoration: none;
        color: #F4F4F4; }
    footer #boxf .boxf2 .twitter {
      background-image: url(../images/twitter.png); }
